
.main-section {
    background-image: url(images/main-content-image.jpg);
    background-size:cover;
    background-position:center;
    height:85vh;
    width:100vw;
    margin: 0 auto;
    
}

@media (min-width:62rem){
    .main-section {
        width:95vw;
        background-image:cover;
        /* object-fit:cover;
        object-position:bottom; */
        background-position: center;
        background-repeat:no-repeat;
        display:flex;
        flex-direction:column;
        align-items:center;
        box-sizing:border-box;
    
    }

}

.main-content-title {
    margin:0;
    text-align:center;
    padding-top:3rem;
    color: #942222;
    font-size:1.7rem;
    line-height:3rem;
    
    /* font-family: 'Open Sans Condensed', sans-serif; */
}

@media (min-width:40rem) {
    .main-content-title {
        font-size:3rem;
        text-align:center;
    }
    
}

.star-images {
    display:none;
}

@media(min-width:62rem){
    .star-images {
        display:flex;
        align-items:center;
        justify-content:center;
        margin-top:2rem;
    }

}

@media(min-width:62rem){
    .star-images img {
        width:4rem;
        margin: 0 2rem;
    }

    

}


.main-button-div {
    display:flex;
    justify-content:center;
    align-items:center;
}

.main-content-button {
    color: #ffffff;
    background-color: #942222; 
    border:none;
    padding:.5rem 1rem;
    font-size:1.5rem;
    opacity:0.7;
    border-radius: 0.7rem;
    margin-top:2rem;
    text-decoration:none;
    
}

.main-content__button img {
    display:none;
}

.services {
    background-color:#1f1f1f;
    border-top:#1f1f1f solid .2rem;
    display:flex;
    flex-direction: column;
    justify-items:center;
    margin: 0 auto;
}


@media (min-width:62rem) {
    .services {
        padding-bottom:10rem;
        width:95vw;
    }
}

.services h1 {
    margin:0;
    color: rgba(110,193,228,0.64);
    align-self:center;
    font-size:4rem;
    font-weight:none;
    padding-bottom:1rem;
    
}

@media (min-width:62rem) {
    .services h1 {
        padding-top:3rem;
    }
}

@media (min-width:62rem) {
    .services-list {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
    }
}

.services h2 {
    /* color: rgb(146, 146, 146); */
    color:#ffffff;
}

@media (min-width:40rem) {
    .services h2 {
        font-size:2.5rem;
    }
    
}

.services-images {
    width:1.5em;
    align-self:center;
    border:solid rgba(110,193,228,0.64) .2rem;
    padding:1.2rem;
    border-radius:1em;
}

@media (min-width:40rem) {
    .services-images {
        width:2.5em;
    }
    
}

.service {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    margin:1rem 0;
    padding:2rem 0;
}

.service p {
    max-width:100%;
}

@media (min-width:62rem) {
    .service {
        display:grid;
        grid-template-rows:auto auto auto;
        margin:1rem 2rem;
        justify-items:center;
    }

    .service h2,
    .service p {
        margin:0;
        max-width:100%;
    }
    
    .services-list>.service:first-of-type p {
        max-width:50%;
    } 
}



.service:first-of-type {
    margin:0;
}

.service p {
    color: rgb(146, 146, 146);
    padding:0 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-size:.9rem;
    line-height:1.5rem;
}

@media (min-width:40rem) {
    .services p {
        font-size:1.2rem;
    }
    
}

